<div class = "info" id="info-box"></div>
<div class = "info" id = "empty-state"><h3>Hover to view opportunities</h3><p>We have over 2,200 campuses available to book with across the US. Hover over each state to view a selection of campuses available.</p></div>
<?xml version="1.0" encoding="utf-8"?>
<svg xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="us-map" preserveAspectRatio="xMinYMin meet" sodipodi:docname="US_map_2016.svg" inkscape:version="0.91 r13725" x="0px" y="0px" width="959px" height="593px" viewBox="174 100 959 593" enable-background="new 174 100 959 593" xml:space="preserve">
<sodipodi:namedview bordercolor="#666666" objecttolerance="10" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" guidetolerance="10" inkscape:cx="509.19152" inkscape:cy="282.2353" inkscape:zoom="1.2137643" showgrid="false" id="namedview71" inkscape:current-layer="g5" inkscape:window-maximized="1" inkscape:window-y="-8" inkscape:window-x="-8" inkscape:pageopacity="0" inkscape:window-height="1017" inkscape:window-width="1920" inkscape:pageshadow="2">
	</sodipodi:namedview>
<g id="g5">
<path id="HI" data-info="
	<div>
		<h3>Hawaii</h3>
		<h4>Total Available Campuses: <span>10</span></h4>
		<h4>Total Student Reach: <span>45.3k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Hawaii at Manoa</div> 
		<div>• University of Hawaii Maui College</div>
		<div>• Brigham Young University Hawaii</div>
		<div>• Chaminade University of Honolulu</div>
		<div>• Honolulu Community College</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M407.1,619.3l1.9-3.6l2.3-0.3l0.3,0.8l-2.1,3.1H407.1z M417.3,615.6l6.1,2.6l2.1-0.3l1.6-3.9   l-0.6-3.4l-4.2-0.5l-4,1.8L417.3,615.6z M448,625.6l3.7,5.5l2.4-0.3l1.1-0.5l1.5,1.3l3.7-0.2l1-1.5l-2.9-1.8l-1.9-3.7l-2.1-3.6   l-5.8,2.9L448,625.6z M468.2,634.5l1.3-1.9l4.7,1l0.6-0.5l6.1,0.6l-0.3,1.3l-2.6,1.5l-4.4-0.3L468.2,634.5z M473.5,639.7l1.9,3.9   l3.1-1.1l0.3-1.6l-1.6-2.1l-3.7-0.3V639.7z M480.5,638.5l2.3-2.9l4.7,2.4l4.4,1.1l4.4,2.7v1.9l-3.6,1.8l-4.8,1l-2.4-1.5   L480.5,638.5z M497.1,654.1l1.6-1.3l3.4,1.6l7.6,3.6l3.4,2.1l1.6,2.4l1.9,4.4l4,2.6l-0.3,1.3l-3.9,3.2l-4.2,1.5l-1.5-0.6l-3.1,1.8   l-2.4,3.2l-2.3,2.9l-1.8-0.2l-3.6-2.6l-0.3-4.5l0.6-2.4l-1.6-5.7l-2.1-1.8l-0.2-2.6l2.3-1l2.1-3.1l0.5-1l-1.6-1.8L497.1,654.1z"/>

	<path id="AK" data-info="
	<div>
		<h3>Alaska</h3>
		<h4>Total Available Campuses: <span>8</span></h4>
		<h4>Total Student Reach: <span>28.9k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Alaska Anchorage</div> 
		<div>• University of Alaska Fairbanks</div>
		<div>• University of Alaska Southeast Juneau</div>
		<div>• Alaska Pacific University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M332.1,553.7l-0.3,85.4l1.6,1l3.1,0.2l1.5-1.1h2.6l0.2,2.9l7,6.8l0.5,2.6l3.4-1.9l0.6-0.2l0.3-3.1   l1.5-1.6l1.1-0.2l1.9-1.5l3.1,2.1l0.6,2.9l1.9,1.1l1.1,2.4l3.9,1.8l3.4,6l2.7,3.9l2.3,2.7l1.5,3.7l5,1.8l5.2,2.1l1,4.4l0.5,3.1   l-1,3.4l-1.8,2.3l-1.6-0.8l-1.5-3.1l-2.7-1.5l-1.8-1.1l-0.8,0.8l1.5,2.7l0.2,3.7l-1.1,0.5l-1.9-1.9l-2.1-1.3l0.5,1.6l1.3,1.8   l-0.8,0.8c0,0-0.8-0.3-1.3-1c-0.5-0.6-2.1-3.4-2.1-3.4l-1-2.3c0,0-0.3,1.3-1,1c-0.6-0.3-1.3-1.5-1.3-1.5l1.8-1.9l-1.5-1.5v-5h-0.8   l-0.8,3.4l-1.1,0.5l-1-3.7l-0.6-3.7l-0.8-0.5l0.3,5.7v1.1l-1.5-1.3l-3.6-6l-2.1-0.5l-0.6-3.7l-1.6-2.9l-1.6-1.1v-2.3l2.1-1.3   l-0.5-0.3l-2.6,0.6l-3.4-2.4l-2.6-2.9l-4.8-2.6l-4-2.6l1.3-3.2v-1.6l-1.8,1.6l-2.9,1.1l-3.7-1.1l-5.7-2.4h-5.5l-0.6,0.5l-6.5-3.9   l-2.1-0.3l-2.7-5.8l-3.6,0.3l-3.6,1.5l0.5,4.5l1.1-2.9l1,0.3l-1.5,4.4l3.2-2.7l0.6,1.6l-3.9,4.4l-1.3-0.3l-0.5-1.9l-1.3-0.8   l-1.3,1.1l-2.7-1.8l-3.1,2.1l-1.8,2.1l-3.4,2.1l-4.7-0.2l-0.5-2.1l3.7-0.6v-1.3l-2.3-0.6l1-2.4l2.3-3.9v-1.8l0.2-0.8l4.4-2.3l1,1.3   h2.7l-1.3-2.6l-3.7-0.3l-5,2.7l-2.4,3.4l-1.8,2.6l-1.1,2.3l-4.2,1.5l-3.1,2.6l-0.3,1.6l2.3,1l0.8,2.1l-2.7,3.2l-6.5,4.2l-7.8,4.2   l-2.1,1.1l-5.3,1.1l-5.3,2.3l1.8,1.3l-1.5,1.5l-0.5,1.1l-2.7-1l-3.2,0.2l-0.8,2.3h-1l0.3-2.4l-3.6,1.3l-2.9,1l-3.4-1.3l-2.9,1.9   h-3.2l-2.1,1.3l-1.6,0.8l-2.1-0.3l-2.6-1.1l-2.3,0.6l-1,1l-1.6-1.1v-1.9l3.1-1.3l6.3,0.6l4.4-1.6l2.1-2.1l2.9-0.6l1.8-0.8l2.7,0.2   l1.6,1.3l1-0.3l2.3-2.7l3.1-1l3.4-0.6l1.3-0.3l0.6,0.5h0.8l1.3-3.7l4-1.5l1.9-3.7l2.3-4.5l1.6-1.5l0.3-2.6l-1.6,1.3l-3.4,0.6   l-0.6-2.4l-1.3-0.3l-1,1l-0.2,2.9l-1.5-0.2l-1.5-5.8l-1.3,1.3l-1.1-0.5l-0.3-1.9l-4,0.2l-2.1,1.1l-2.6-0.3l1.5-1.5l0.5-2.6   l-0.6-1.9l1.5-1l1.3-0.2l-0.6-1.8v-4.4l-1-1l-0.8,1.5h-6.1l-1.5-1.3l-0.6-3.9l-2.1-3.6v-1l2.1-0.8l0.2-2.1l1.1-1.1l-0.8-0.5   l-1.3,0.5l-1.1-2.7l1-5l4.5-3.2l2.6-1.6l1.9-3.7l2.7-1.3l2.6,1.1l0.3,2.4l2.4-0.3l3.2-2.4l1.6,0.6l1,0.6h1.6l2.3-1.3l0.8-4.4   c0,0,0.3-2.9,1-3.4c0.6-0.5,1-1,1-1l-1.1-1.9l-2.6,0.8l-3.2,0.8l-1.9-0.5l-3.6-1.8l-5-0.2l-3.6-3.7l0.5-3.9l0.6-2.4l-2.1-1.8   l-1.9-3.7l0.5-0.8l6.8-0.5h2.1l1,1h0.6l-0.2-1.6l3.9-0.6l2.6,0.3l1.5,1.1l-1.5,2.1l-0.5,1.5l2.7,1.6l5,1.8l1.8-1l-2.3-4.4l-1-3.2   l1-0.8l-3.4-1.9l-0.5-1.1l0.5-1.6l-0.8-3.9l-2.9-4.7l-2.4-4.2l2.9-1.9h3.2l1.8,0.6l4.2-0.2l3.7-3.6l1.1-3.1l3.7-2.4l1.6,1l2.7-0.6   l3.7-2.1l1.1-0.2l1,0.8l4.5-0.2l2.7-3.1h1.1l3.6,2.4l1.9,2.1l-0.5,1.1l0.6,1.1l1.6-1.6l3.9,0.3l0.3,3.7l1.9,1.5l7.1,0.6l6.3,4.2   l1.5-1l5.2,2.6l2.1-0.6l1.9-0.8l4.8,1.9L332.1,553.7z M217,582.6l2.1,5.3l-0.2,1l-2.9-0.3l-1.8-4l-1.8-1.5H210l-0.2-2.6l1.8-2.4   l1.1,2.4l1.5,1.5L217,582.6z M214.4,616.1l3.7,0.8l3.7,1l0.8,1l-1.6,3.7l-3.1-0.2l-3.4-3.6L214.4,616.1z M193.7,602l1.1,2.6   l1.1,1.6l-1.1,0.8l-2.1-3.1V602H193.7z M180,675.1l3.4-2.3l3.4-1l2.6,0.3l0.5,1.6l1.9,0.5l1.9-1.9l-0.3-1.6l2.7-0.6l2.9,2.6   l-1.1,1.8l-4.4,1.1l-2.7-0.5l-3.7-1.1l-4.4,1.5l-1.6,0.3L180,675.1z M228.9,670.6l1.6,1.9l2.1-1.6l-1.5-1.3L228.9,670.6z    M231.8,673.6l1.1-2.3l2.1,0.3l-0.8,1.9H231.8z M255.4,671.7l1.5,1.8l1-1.1l-0.8-1.9L255.4,671.7z M264.2,659.2l1.1,5.8l2.9,0.8   l5-2.9l4.4-2.6l-1.6-2.4l0.5-2.4l-2.1,1.3l-2.9-0.8l1.6-1.1l1.9,0.8l3.9-1.8l0.5-1.5l-2.4-0.8l0.8-1.9l-2.7,1.9l-4.7,3.6l-4.8,2.9   L264.2,659.2z M306.5,639.4l2.4-1.5l-1-1.8l-1.8,1L306.5,639.4z"/>
	
	<path id="FL" data-info="
	<div>
		<h3>Florida</h3>
		<h4>Total Available Campuses: <span>88</span></h4>
		<h4>Total Student Reach: <span>933k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Florida State University</div> 
		<div>• University of Central Florida</div>
		<div>• Miami Dade College</div>
		<div>• University of Florida</div>
		<div>• Valencia Community College</div>
		<div>• University of North Florida</div>
		<div>• University of Miami</div>
		<div>• And more!</div>" 

	 fill="#D3D3D3" d="M929.4,545.5l2.3,7.3l3.7,9.7l5.3,9.4l3.7,6.3l4.8,5.5l4,3.7l1.6,2.9l-1.1,1.3L953,593l2.9,7.4   l2.9,2.9l2.6,5.3l3.6,5.8l4.5,8.2l1.3,7.6l0.5,12l0.6,1.8l-0.3,3.4l-2.4,1.3l0.3,1.9l-0.6,1.9l0.3,2.4l0.5,1.9l-2.7,3.2l-3.1,1.5   l-3.9,0.2l-1.5,1.6l-2.4,1l-1.3-0.5l-1.1-1l-0.3-2.9l-0.8-3.4l-3.4-5.2l-3.6-2.3l-3.9-0.3l-0.8,1.3l-3.1-4.4l-0.6-3.6l-2.6-4   l-1.8-1.1l-1.6,2.1l-1.8-0.3l-2.1-5l-2.9-3.9l-2.9-5.3l-2.6-3.1l-3.6-3.7l2.1-2.4l3.2-5.5l-0.2-1.6l-4.5-1l-1.6,0.6l0.3,0.6l2.6,1   l-1.5,4.5l-0.8,0.5l-1.8-4l-1.3-4.8l-0.3-2.7l1.5-4.7v-9.5L910,585l-1.3-3.1l-5.2-1.3l-1.9-0.6l-1.6-2.6l-3.4-1.6l-1.1-3.4l-2.7-1   l-2.4-3.7l-4.2-1.5l-2.9-1.5h-2.6l-4,0.8l-0.2,1.9l0.8,1l-0.5,1.1l-3.1-0.2l-3.7,3.6l-3.6,1.9h-3.9l-3.2,1.3l-0.3-2.7l-1.6-1.9   l-2.9-1.1l-1.6-1.5l-8.1-3.9l-7.6-1.8l-4.4,0.6l-6,0.5l-6,2.1l-3.5,0.6l-0.2-8l-2.6-1.9l-1.8-1.8l0.3-3.1l10.2-1.3l25.5-2.9   l6.8-0.6l5.4,0.3l2.6,3.9l1.5,1.5l8.1,0.5l10.8-0.6l21.5-1.3l5.4-0.7l4.6,0l0.2,2.9l3.8,0.8l0.3-4.8l-1.6-4.5l1-0.7l5.1,0.5   L929.4,545.5z M941.9,677.9l2.4-0.6l1.3-0.2l1.5-2.3l2.3-1.6l1.3,0.5l1.7,0.3l0.4,1.1l-3.5,1.2l-4.2,1.5l-2.3,1.2L941.9,677.9z    M955.4,672.9l1.2,1.1l2.7-2.1l5.3-4.2l3.7-3.9l2.5-6.6l1-1.7l0.2-3.4l-0.7,0.5l-1,2.8l-1.5,4.6l-3.2,5.3l-4.4,4.2l-3.4,1.9   L955.4,672.9z"/>
	
	<path id="SC" data-info="
	<div>
		<h3>South Carolina</h3>
		<h4>Total Available Campuses: <span>39</span></h4>
		<h4>Total Student Reach: <span>173k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of South Carolina</div> 
		<div>• Winthrop University</div>
		<div>• Clemson University</div>
		<div>• College of Charleston</div>
		<div>• The Citadel Military College of South Carolina</div>
		<div>• Furman University</div>
		<div>• And more!</div>"  

		fill="#D3D3D3" d="M935.2,512.9l-1.8,1l-2.6-1.3l-0.6-2.1l-1.3-3.6l-2.3-2.1l-2.6-0.6l-1.6-4.8l-2.7-6l-4.2-1.9   l-2.1-1.9l-1.3-2.6L910,485l-2.3-1.3l-2.3-2.9l-3.1-2.3l-4.5-1.8l-0.5-1.5l-2.4-2.9l-0.5-1.5l-3.4-5.2l-3.4,0.2l-4-2.4l-1.3-1.3   l-0.3-1.8l0.8-1.9l2.3-1l-0.3-2.1l6.1-2.6l9.1-4.5l7.3-0.8l16.5-0.5l2.3,1.9l1.6,3.2l4.4-0.5l12.6-1.5l2.9,0.8l12.6,7.6l10.1,8.1   l-5.4,5.5l-2.6,6.1l-0.5,6.3l-1.6,0.8l-1.1,2.7l-2.4,0.6l-2.1,3.6l-2.7,2.7l-2.3,3.4l-1.6,0.8l-3.6,3.4l-2.9,0.2l1,3.2l-5,5.5   L935.2,512.9z"/>
	
	<path id="GA" data-info="
	<div>
		<h3>Georgia</h3>
		<h4>Total Available Campuses: <span>55</span></h4>
		<h4>Total Student Reach: <span>376k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Georgia</div> 
		<div>• Georgia State University</div>
		<div>• Georgia Institute of Technology</div>
		<div>• Emory University</div>
		<div>• Savannah College of Art and Design</div>
		<div>• Georgia Southern University</div>
		<div>• And more!</div>"

		 fill="#D3D3D3" d="M863.6,458l-4.8,0.8l-8.4,1.1l-8.6,0.9v2.2l0.2,2.1l0.6,3.4l3.4,7.9l2.4,9.9l1.5,6.1l1.6,4.8l1.5,7   l2.1,6.3l2.6,3.4l0.5,3.4l1.9,0.8l0.2,2.1l-1.8,4.8l-0.5,3.2l-0.2,1.9l1.6,4.4l0.3,5.3l-0.8,2.4l0.6,0.8l1.5,0.8l0.6,3.4l2.6,3.9   l1.5,1.5l7.9,0.2l10.8-0.6l21.5-1.3l5.4-0.7l4.6,0l0.2,2.9l2.6,0.8l0.3-4.4l-1.6-4.5l1.1-1.6l5.8,0.8l5,0.3l-0.8-6.3l2.3-10   l1.5-4.2l-0.5-2.6l3.3-6.2l-0.5-1.4l-1.9,0.7l-2.6-1.3l-0.6-2.1l-1.3-3.6l-2.3-2.1l-2.6-0.6l-1.6-4.8l-2.9-6.3l-4.2-1.9l-2.1-1.9   l-1.3-2.6l-2.1-1.9l-2.3-1.3l-2.3-2.9l-3.1-2.3l-4.5-1.8l-0.5-1.5l-2.4-2.9l-0.5-1.5l-3.4-4.9l-3.4,0.2l-4.1-3l-1.3-1.3l-0.3-1.8   l0.8-1.9l2.4-1.2l-1.1-1.2l0.1-0.3l-5.8,1l-7,0.8L863.6,458z"/>

	<path id="AL" data-info="
	<div>
		<h3>Alabama</h3>
		<h4>Total Available Campuses: <span>43</span></h4>
		<h4>Total Student Reach: <span>223k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Alabama</div> 
		<div>• Auburn University</div>
		<div>• University of Alabama at Birmingham</div>
		<div>• Troy University</div>
		<div>• University of South Alabama</div>
		<div>• University of North Alabama</div>
		<div>• Tuskegee University</div>
		<div>• Alabama State University</div>
		<div>• And more!</div>"

		 fill="#D3D3D3" d="M799.6,566.8l-1.6-15.2l-2.7-18.8l0.2-14.1l0.8-31l-0.2-16.7l0.2-6.4l7.8-0.4l27.8-2.6l8.9-0.7   l-0.1,2.2l0.2,2.1l0.6,3.4l3.4,7.9l2.4,9.9l1.5,6.1l1.6,4.8l1.5,7l2.1,6.3l2.6,3.4l0.5,3.4l1.9,0.8l0.2,2.1l-1.8,4.8l-0.5,3.2   l-0.2,1.9l1.6,4.4l0.3,5.3l-0.8,2.4l0.6,0.8l1.5,0.8l1,2.5h-6.3l-6.8,0.6l-25.5,2.9l-10.4,1.4l-0.1,3.8l1.8,1.8l2.6,1.9l0.6,7.9   l-5.5,2.6l-2.7-0.3l2.7-1.9v-1l-3.1-6l-2.3-0.6l-1.5,4.4l-1.3,2.7l-0.6-0.2H799.6z"/>
	
	<path id="NC" data-info="
	<div>
		<h3>North Carolina</h3>
		<h4>Total Available Campuses: <span>44</span></h4>
		<h4>Total Student Reach: <span>295k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• North Carolina State University</div> 
		<div>• University of North Carolina at Chapel Hill</div>
		<div>• East Carolina University</div>
		<div>• University of North Carolina at Charlotte</div>
		<div>• University of North Carolina at Greensboro</div>
		<div>• Duke University</div>
		<div>• Elon University</div>
		<div>• Appalachian State University</div>
		<div>• And more!</div>"

		 fill="#D3D3D3" d="M1006.1,398.5l1.7,4.7l3.6,6.5l2.4,2.4l0.6,2.3l-2.4,0.2l0.8,0.6l-0.3,4.2l-2.6,1.3l-0.6,2.1   l-1.3,2.9l-3.7,1.6l-2.4-0.3l-1.5-0.2l-1.6-1.3l0.3,1.3v1h1.9l0.8,1.3l-1.9,6.3h4.2l0.6,1.6l2.3-2.3l1.3-0.5l-1.9,3.6l-3.1,4.8   h-1.3l-1.1-0.5l-2.7,0.6l-5.2,2.4l-6.5,5.3l-3.4,4.7l-1.9,6.5l-0.5,2.4l-4.7,0.5l-5.5,1.3l-9.9-8.2l-12.6-7.6l-2.9-0.8l-12.6,1.5   l-4.3,0.8l-1.6-3.2l-3-2.1l-16.5,0.5l-7.3,0.8l-9.1,4.5l-6.1,2.6l-1.6,0.3l-5.8,1l-7,0.8l-6.8,0.5l0.5-4.1l1.8-1.5l2.7-0.6l0.6-3.7   l4.2-2.7l3.9-1.5l4.2-3.6l4.4-2.1l0.6-3.1l3.9-3.9l0.6-0.2c0,0,0,1.1,0.8,1.1c0.8,0,1.9,0.3,1.9,0.3l2.3-3.6l2.1-0.6l2.3,0.3   l1.6-3.6l2.9-2.6l0.5-2.1v-4l4.5,0.7l7.1-1.3l15.8-1.9l17.1-2.6l19.9-4l19.7-4.2l11.4-2.8L1006.1,398.5z M1010,431.5l2.6-2.5   l3.2-2.6l1.5-0.6l0.2-2l-0.6-6.1l-1.5-2.3l-0.6-1.9l0.7-0.2l2.7,5.5l0.4,4.4l-0.2,3.4l-3.4,1.5l-2.8,2.4l-1.1,1.2L1010,431.5z"/>
	
	<path id="TN" data-info="
	<div>
		<h3>Tennessee</h3>
		<h4>Total Available Campuses: <span>42</span></h4>
		<h4>Total Student Reach: <span>223k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Tennessee at Knoxville</div> 
		<div>• University of Memphis</div>
		<div>• Vanderbilt University</div>
		<div>• University of Tennessee at Chattanooga</div>
		<div>• Tennessee Technological University</div>
		<div>• Tennessee State University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M871.1,420.6l-51.9,5l-15.8,1.8l-4.6,0.5l-3.9,0v3.9l-8.4,0.5l-7,0.6l-11.1,0.1l-0.3,5.8l-2.1,6.3   l-1,3l-1.3,4.4l-0.3,2.6l-4,2.3l1.5,3.6l-1,4.4l-1,0.8l7.3-0.2l24.1-1.9l5.3-0.2l8.1-0.5l27.8-2.6l10.2-0.8l8.4-1l8.4-1.1l4.8-0.8   l-0.1-4.5l1.8-1.5l2.7-0.6l0.6-3.7l4.2-2.7l3.9-1.5l4.2-3.6l4.4-2.1l0.9-3.5l4.3-3.9l0.6-0.2c0,0,0,1.1,0.8,1.1s1.9,0.3,1.9,0.3   l2.3-3.6l2.1-0.6l2.3,0.3l1.6-3.6l2.1-2.2l0.6-1l0.2-3.9l-1.5-0.3l-2.4,1.9l-7.9,0.2l-12,1.9L871.1,420.6z"/>
	
	<path id="RI" data-info="
	<div>
		<h3>Rhode Island</h3>
		<h4>Total Available Campuses: <span>9</span></h4>
		<h4>Total Student Reach: <span>76k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Rhode Island</div> 
		<div>• Brown University</div>
		<div>• Rhode Island College</div>
		<div>• Roger Williams University</div>
		<div>• Johnson & Wales University</div>
		<div>• Providence College</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1048.1,279.8l-0.5-4.2l-0.8-4.4l-1.7-5.9l5.7-1.5l1.6,1.1l3.4,4.4l2.9,4.4l-2.9,1.5l-1.3-0.2   l-1.1,1.8l-2.4,1.9L1048.1,279.8z"/>
	
	<path id="CT" data-info="
	<div>
		<h3>Connecticut</h3>
		<h4>Total Available Campuses: <span>19</span></h4>
		<h4>Total Student Reach: <span>147k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Connecticut</div> 
		<div>• Yale University</div>
		<div>• University of New Haven</div>
		<div>• Central Connecticut State University</div>
		<div>• Fairfield University</div>
		<div>• University of Hartford</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1047.2,280.1l-0.6-4.2l-0.8-4.4l-1.6-6l-4.2,0.9l-21.8,4.8l0.6,3.3l1.5,7.3v8.1l-1.1,2.3l1.8,2.1   l5-3.4l3.6-3.2l1.9-2.1l0.8,0.6l2.7-1.5l5.2-1.1L1047.2,280.1z"/>
	
	<path id="MA" data-info="
	<div>
		<h3>Massachusetts</h3>
		<h4>Total Available Campuses: <span>44</span></h4>
		<h4>Total Student Reach: <span>350k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Boston University</div> 
		<div>• Harvard University</div>
		<div>• Amherst College</div>
		<div>• Boston College</div>
		<div>• Massachusetts Institute of Technology</div>
		<div>• Wellesley College</div>
		<div>• Emerson College</div>
		<div>• University of Massachusetts Dartmouth</div>
		<div>• Tuffs University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1074,273.9l2.2-0.7l0.5-1.7l1,0.1l1,2.3l-1.3,0.5l-3.9,0.1L1074,273.9z M1064.6,274.7l2.3-2.6h1.6   l1.8,1.5l-2.4,1l-2.2,1L1064.6,274.7z M1029.8,252.7l17.5-4.2l2.3-0.6l2.1-3.2l3.7-1.7l2.9,4.4l-2.4,5.2l-0.3,1.5l1.9,2.6l1.1-0.8   h1.8l2.3,2.6l3.9,6l3.6,0.5l2.3-1l1.8-1.8l-0.8-2.7l-2.1-1.6l-1.5,0.8l-1-1.3l0.5-0.5l2.1-0.2l1.8,0.8l1.9,2.4l1,2.9l0.3,2.4   l-4.2,1.5l-3.9,1.9l-3.9,4.5l-1.9,1.5v-1l2.4-1.5l0.5-1.8l-0.8-3.1l-2.9,1.5l-0.8,1.5l0.5,2.3l-2.1,1l-2.7-4.5l-3.4-4.4l-2.1-1.8   l-6.5,1.9l-5.1,1.1l-21.8,4.8l-0.4-4.9l0.6-10.6l5.2-0.9L1029.8,252.7z"/>
	
	<path id="ME" data-info="
	<div>
		<h3>Maine</h3>
		<h4>Total Available Campuses: <span>7</span></h4>
		<h4>Total Student Reach: <span>28.1k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Maine</div> 
		<div>• University of Southern Maine</div>
		<div>• Colby College</div>
		<div>• Bates College</div>
		<div>• Bowdoin College</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1097.2,177.3l1.9,2.1l2.3,3.7v1.9l-2.1,4.7l-1.9,0.6l-3.4,3.1l-4.8,5.5c0,0-0.6,0-1.3,0   c-0.6,0-1-2.1-1-2.1l-1.8,0.2l-1,1.5l-2.4,1.5l-1,1.5l1.6,1.5l-0.5,0.6l-0.5,2.7l-1.9-0.2v-1.6l-0.3-1.3l-1.5,0.3l-1.8-3.2   l-2.1,1.3l1.3,1.5l0.3,1.1l-0.8,1.3l0.3,3.1l0.2,1.6l-1.6,2.6l-2.9,0.5l-0.3,2.9l-5.3,3.1l-1.3,0.5l-1.6-1.5l-3.1,3.6l1,3.2   l-1.5,1.3l-0.2,4.4l-1.1,6.3l-2.5-1.2l-0.5-3.1l-3.9-1.1l-0.3-2.7l-7.3-23.4l-4.2-13.6l1.4-0.1l1.5,0.4v-2.6l0.8-5.5l2.6-4.7l1.5-4   l-1.9-2.4v-6l0.8-1l0.8-2.7l-0.2-1.5l-0.2-4.8l1.8-4.8l2.9-8.9l2.1-4.2h1.3l1.3,0.2v1.1l1.3,2.3l2.7,0.6l0.8-0.8v-1l4-2.9l1.8-1.8   l1.5,0.2l6,2.4l1.9,1l9.1,29.9h6l0.8,1.9l0.2,4.8l2.9,2.3h0.8l0.2-0.5l-0.5-1.1L1097.2,177.3z M1076.3,207.5l1.5-1.5l1.4,1.1   l0.6,2.4l-1.7,0.9L1076.3,207.5z M1083,201.6l1.8,1.9c0,0,1.3,0.1,1.3-0.2s0.2-2,0.2-2l0.9-0.8l-0.8-1.8l-2,0.7L1083,201.6z"/>
	
	<path id="NH" data-info="
	<div>
		<h3>New Hampshire</h3>
		<h4>Total Available Campuses: <span>8</span></h4>
		<h4>Total Student Reach: <span>99.2k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Dartmouth College</div> 
		<div>• Plymouth State University</div>
		<div>• Keene State College</div>
		<div>• University of New Hampshire</div>
		<div>• Southern New Hampshire University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1054.8,242.4l0.9-1.1l1.1-3.3l-2.5-0.9l-0.5-3.1l-3.9-1.1l-0.3-2.7l-7.3-23.4l-4.6-14.5l-0.9,0   l-0.6,1.6l-0.6-0.5l-1-1l-1.5,1.9l0,5l0.3,5.7l1.9,2.7v4l-3.7,5.1l-2.6,1.1v1.1l1.1,1.8v8.6l-0.8,9.2l-0.2,4.8l1,1.3l-0.2,4.5   l-0.5,1.8l1.5,0.9l16.4-4.7l2.3-0.6l1.5-2.6L1054.8,242.4z"/>
	
	<path id="VT" data-info="
	<div>
		<h3>Vermont</h3>
		<h4>Total Available Campuses: <span>7</span></h4>
		<h4>Total Student Reach: <span>25.3k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Vermont</div> 
		<div>• Middlebury College</div>
		<div>• Norwich University</div>
		<div>• Saint Micheals College</div>
		<div>• Lyndon State College</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M1018.3,253.7l-0.8-5.7l-2.4-10l-0.6-0.3l-2.9-1.3l0.8-2.9l-0.8-2.1l-2.7-4.6l1-3.9l-0.8-5.2   l-2.4-6.5l-0.8-4.9l26.2-6.7l0.3,5.8l1.9,2.7v4l-3.7,4l-2.6,1.1v1.1l1.1,1.8v8.6l-0.8,9.2l-0.2,4.8l1,1.3l-0.2,4.5l-0.5,1.8   l0.7,1.6l-7,1.4L1018.3,253.7z"/>
	
	<path id="NY" data-info="
	<div>
		<h3>New York</h3>
		<h4>Total Available Campuses: <span>157</span></h4>
		<h4>Total Student Reach: <span>1.1m</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Syracuse University</div> 
		<div>• New York University</div>
		<div>• Columbia University</div>
		<div>• Hunter College</div>
		<div>• Hofsta University</div>
		<div>• Cornell University</div>
		<div>• Stonybrook University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1002.6,289.4l-1.1-1l-2.6-0.2l-2.3-1.9l-1.6-6.1l-3.5,0.1l-2.4-2.7l-19.4,4.4l-43,8.7l-7.5,1.2   l-0.7-6.5l1.4-1.1l1.3-1.1l1-1.6l1.8-1.1l1.9-1.8l0.5-1.6l2.1-2.7l1.1-1l-0.2-1l-1.3-3.1l-1.8-0.2l-1.9-6.1l2.9-1.8l4.4-1.5l4-1.3   l3.2-0.5l6.3-0.2l1.9,1.3l1.6,0.2l2.1-1.3l2.6-1.1l5.2-0.5l2.1-1.8l1.8-3.2l1.6-1.9h2.1l1.9-1.1l0.2-2.3l-1.5-2.1l-0.3-1.5l1.1-2.1   v-1.5h-1.8l-1.8-0.8l-0.8-1.1l-0.2-2.6l5.8-5.5l0.6-0.8l1.5-2.9l2.9-4.5l2.7-3.7l2.1-2.4l2.4-1.8l3.1-1.2l5.5-1.3l3.2,0.2l4.5-1.5   l7.6-2.1l0.5,5l2.4,6.5l0.8,5.2l-1,3.9l2.6,4.5l0.8,2.1l-0.8,2.9l2.9,1.3l0.6,0.3l3.1,11l-0.5,5.1l-0.5,10.8l0.8,5.5l0.8,3.6   l1.5,7.3v8.1l-1.1,2.3l1.8,2l0.8,1.7l-1.9,1.8l0.3,1.3l1.3-0.3l1.5-1.3l2.3-2.6l1.1-0.6l1.6,0.6l2.3,0.2l7.9-3.9l2.9-2.7l1.3-1.5   l4.2,1.6l-3.4,3.6l-3.9,2.9l-7.1,5.3l-2.6,1l-5.8,1.9l-4,1.1l-1.2-0.5l-0.2-3.7l0.5-2.7l-0.2-2.1l-2.8-1.7l-4.5-1l-3.9-1.1   L1002.6,289.4z"/>
	
	<path id="NJ" data-info="
	<div>
		<h3>New Jersey</h3>
		<h4>Total Available Campuses: <span>28</span></h4>
		<h4>Total Student Reach: <span>291k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Rutgers University</div> 
		<div>• Montclair State University</div>
		<div>• Rowan University</div>
		<div>• Monmouth University</div>
		<div>• Kean University</div>
		<div>• New Jersey Institute of Technology</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1002.2,290.3l-2.1,2.4v3.1l-1.9,3.1l-0.2,1.6l1.3,1.3l-0.2,2.4l-2.3,1.1l0.8,2.7l0.2,1.1l2.7,0.3   l1,2.6l3.6,2.4l2.4,1.6v0.8l-3.2,3.1l-1.6,2.3l-1.5,2.7l-2.3,1.3l-1.2,0.7l-0.2,1.2l-0.6,2.6l1.1,2.2l3.2,2.9l4.8,2.3l4,0.6   l0.2,1.5l-0.8,1l0.3,2.7h0.8l2.1-2.4l0.8-4.8l2.7-4l3.1-6.5l1.1-5.5l-0.6-1.1l-0.2-9.4l-1.6-3.4l-1.1,0.8l-2.7,0.3l-0.5-0.5l1.1-1   l2.1-1.9l0.1-1.1l-0.4-3.4l0.5-2.7l-0.2-2.1l-2.6-1.1l-4.5-1l-3.9-1.1L1002.2,290.3z"/>
	
	<path id="PA" data-info="
	<div>
		<h3>Pennsylvania</h3>
		<h4>Total Available Campuses: <span>121</span></h4>
		<h4>Total Student Reach: <span>588k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Pennsylvania State University</div> 
		<div>• University of Pennsylvania</div>
		<div>• University of Pittsburgh</div>
		<div>• Drexel University</div>
		<div>• Wilkes University</div>
		<div>• Lehigh University</div>
		<div>• Temple University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M996.2,326.5l1.1-0.6l2.3-0.6l1.5-2.7l1.6-2.3l3.2-3.1v-0.8l-2.4-1.6l-3.6-2.4l-1-2.6l-2.7-0.3   l-0.2-1.1l-0.8-2.7l2.3-1.1l0.2-2.4l-1.3-1.3l0.2-1.6l1.9-3.1v-3.1l2.3-2.4l0.2-1.1l-2.6-0.2l-2.3-1.9l-2.4-5.3l-3-0.9l-2.3-2.1   l-18.6,4l-43,8.7l-8.9,1.5l-0.5-7.1l-5.5,5.6l-1.3,0.5l-4.2,3l2.9,19.1l2.5,9.7l3.6,19.3l3.3-0.6l11.9-1.5l37.9-7.7l14.9-2.8   l8.3-1.6l0.3-0.2l2.1-1.6L996.2,326.5z"/>
	
	<path id="DE" data-info="
	<div>
		<h3>Delaware</h3>
		<h4>Total Available Campuses: <span>5</span></h4>
		<h4>Total Student Reach: <span>45.8k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Delaware</div> 
		<div>• Wesley College</div>
		<div>• Wilmington University</div>
		<div>• Delaware State University</div>
		<div>• Goldey-Beacom College</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M996.4,330.4l0.6-2.1l0-1.2l-1.3-0.1l-2.1,1.6l-1.5,1.5l1.5,4.2l2.3,5.7l2.1,9.7l1.6,6.3l5-0.2   l6.1-1.2l-2.3-7.4l-1,0.5l-3.6-2.4l-1.8-4.7l-1.9-3.6l-2.3-1l-2.1-3.6L996.4,330.4z"/>
	
	<path id="MD" data-info="
	<div>
		<h3>Maryland</h3>
		<h4>Total Available Campuses: <span>31</span></h4>
		<h4>Total Student Reach: <span>290k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Maryland</div> 
		<div>• Montgomery College</div>
		<div>• John Hopkins University</div>
		<div>• Anne Arundel Community College</div>
		<div>• University of Baltimore</div>
		<div>• Hood College</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1011,355.3l-6.1,1.3l-5.8,0.2l-1.8-7.1l-2.1-9.7l-2.3-5.7l-1.3-4.4l-7.5,1.6l-14.9,2.8l-37.5,7.6   l1.1,5l1,5.7l0.3-0.3l2.1-2.4l2.3-2.6l2.4-0.6l1.5-1.5l1.8-2.6l1.3,0.6l2.9-0.3l2.6-2.1l2-1.5l1.8-0.5l1.6,1.1l2.9,1.5l1.9,1.8   l1.2,1.5l4.1,1.7v2.9l5.5,1.3l1.1,0.5l1.4-2l2.9,2l-1.3,2.5l-0.8,4l-1.8,2.6v2.1l0.6,1.8l5.1,1.4l4.3-0.1l3.1,1l2.1,0.3l1-2.1   l-1.5-2.1v-1.8l-2.4-2.1l-2.1-5.5l1.3-5.3l-0.2-2.1l-1.3-1.3c0,0,1.5-1.6,1.5-2.3c0-0.6,0.5-2.1,0.5-2.1l1.9-1.3l1.9-1.6l0.5,1   l-1.5,1.6l-1.3,3.7l0.3,1.1l1.8,0.3l0.5,5.5l-2.1,1l0.3,3.6l0.5-0.2l1.1-1.9l1.6,1.8l-1.6,1.3l-0.3,3.4l2.6,3.4l3.9,0.5l1.6-0.8   l3.2,4.2l1.4,0.5l6.7-2.8l2-4L1011,355.3z M994.3,364.3l1.1,2.5l0.2,1.8l1.1,1.9c0,0,0.9-0.9,0.9-1.2c0-0.3-0.7-3.1-0.7-3.1   l-0.7-2.3L994.3,364.3z"/>
	
	<path id="WV" data-info="
	<div>
		<h3>West Virginia</h3>
		<h4>Total Available Campuses: <span>22</span></h4>
		<h4>Total Student Reach: <span>72.6k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• West Virginia University</div> 
		<div>• Concord University</div>
		<div>• West Virginia State University</div>
		<div>• Marshall University</div>
		<div>• University of Charleston</div>
		<div>• West Virginia University Institute of Technology</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M930.6,342l1.1,4.9l1.1,6.9l3.6-2.7l2.3-3.1l2.5-0.6l1.5-1.5l1.8-2.6l1.2,0.6l2.9-0.3l2.6-2.1   l2-1.5l1.8-0.5l1.3,1l2.2,1.1l1.9,1.8l1.4,1.3l-0.1,4.7l-5.7-3.1l-4.5-1.8l-0.2,5.3l-0.5,2.1l-1.6,2.7l-0.6,1.6l-3.1,2.4l-0.5,2.3   l-3.4,0.3l-0.3,3.1l-1.1,5.5h-2.6l-1.3-0.8l-1.6-2.7l-1.8,0.2l-0.3,4.4l-2.1,6.6l-5,10.8l0.8,1.3l-0.2,2.7l-2.1,1.9l-1.5-0.3   l-3.2,2.4l-2.6-1l-1.8,4.7c0,0-3.7,0.8-4.4,1c-0.6,0.2-2.4-1.3-2.4-1.3l-2.4,2.3l-2.6,0.6l-2.9-0.8l-1.3-1.3l-2.2-3l-3.1-2   l-2.6-2.7l-2.9-3.7l-0.6-2.3l-2.6-1.5l-0.8-1.6l-0.2-5.3l2.2-0.1l1.9-0.8l0.2-2.7l1.6-1.5l0.2-5l1-3.9l1.3-0.6l1.3,1.1l0.5,1.8   l1.8-1l0.5-1.6l-1.1-1.8v-2.4l1-1.3l2.3-3.4l1.3-1.5l2.1,0.5l2.3-1.6l3.1-3.4l2.3-3.9l0.3-5.7l0.5-5v-4.7l-1.1-3.1l1-1.5l1.3-1.3   l3.5,19.8l4.6-0.8L930.6,342z"/>
	
	<path id="KY" data-info="
	<div>
		<h3>Kentucky</h3>
		<h4>Total Available Campuses: <span>26</span></h4>
		<h4>Total Student Reach: <span>162k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Kentucky</div> 
		<div>• University of Louisville</div>
		<div>• Kentucky State University</div>
		<div>• Transylvania University</div>
		<div>• Georgetown College</div>
		<div>• Northern Kentucky University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M895.8,397.8l-2.3,2.7l-4.2,3.6L885,410l-1.8,1.8v2.1l-3.9,2.1l-5.7,3.4l-3.5,0.4l-51.9,4.9   l-15.8,1.8l-4.6,0.5l-3.9,0l-0.2,4.2l-8.2,0.1l-7,0.6l-10.4,0.2l1.9-0.2l2.2-1.8l2.1-1.1l0.2-3.2l0.9-1.8l-1.6-2.5l0.8-1.9l2.3-1.8   l2.1-0.6l2.7,1.3l3.6,1.3l1.1-0.3l0.2-2.3l-1.3-2.4l0.3-2.3l1.9-1.5l2.6-0.6l1.6-0.6l-0.8-1.8l-0.6-1.9l1.1-0.8l1.1-3.3l3-1.7   l5.8-1l3.6-0.5l1.5,1.9l1.8,0.8l1.8-3.2l2.9-1.5l1.9,1.6l0.8,1.1l2.1-0.5l-0.2-3.4l2.9-1.6l1.1-0.8l1.1,1.6h4.7l0.8-2.1l-0.3-2.3   l2.9-3.6l4.7-3.9l0.5-4.5l2.7-0.3l3.9-1.8l2.7-1.9l-0.3-1.9l-1.5-1.5l0.6-2.2l4.1-0.2l2.4-0.8l2.9,1.6l1.6,4.4l5.8,0.3l1.8,1.8   l2.1,0.2l2.4-1.5l3.1,0.5l1.3,1.5l2.7-2.6l1.8-1.3h1.6l0.6,2.7l1.8,1l2.4,2.2l0.2,5.5l0.8,1.6l2.6,1.5l0.6,2.3l2.9,3.7l2.6,2.7   L895.8,397.8z"/>
	
	<path id="OH" data-info="
	<div>
		<h3>Ohio</h3>
		<h4>Total Available Campuses: <span>92</span></h4>
		<h4>Total Student Reach: <span>517k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• The Ohio State University</div> 
		<div>• Kent State University</div>
		<div>• Notre Dame College</div>
		<div>• Ohio University</div>
		<div>• Miami University of Ohio</div>
		<div>• University of Cincinnati</div>
		<div>• Youngstown State University</div>
		<div>• Ohio Northern University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M905.4,295l-6.1,4.1l-3.9,2.3l-3.4,3.7l-4,3.9l-3.2,0.8l-2.9,0.5l-5.5,2.6l-2.1,0.2l-3.4-3.1   l-5.2,0.6l-2.6-1.5l-2.4-1.4l-4.9,0.7l-10.2,1.6l-7.8,1.2l1.3,14.6l1.8,13.7l2.6,23.4l0.6,4.8l4.1-0.1l2.4-0.8l3.4,1.5l2.1,4.4   l5.1,0l1.9,2.1l1.8-0.1l2.5-1.3l2.5,0.4l2,1.5l1.7-2.1l2.3-1.3l2.1-0.7l0.6,2.7l1.8,1l3.5,2.3l2.2-0.1l1.1-1.1l-0.1-1.4l1.6-1.5   l0.2-5l1-3.9l1.5-1.4l1.5,0.9l0.8,1.2l1.2-0.2l-0.4-2.4l-0.6-0.6v-2.4l1-1.3l2.3-3.4l1.3-1.5l2.1,0.5l2.3-1.6l3.1-3.4l2.3-3.9   l0.2-5.4l0.5-5v-4.7l-1.1-3.1l1-1.5l0.9-1l-1.4-9.8L905.4,295z"/>
	
	<path id="MI" data-info="
	<div>
		<h3>Michigan</h3>
		<h4>Total Available Campuses: <span>68</span></h4>
		<h4>Total Student Reach: <span>516k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Central Michigan University</div> 
		<div>• Michigan State University</div>
		<div>• University of Detroit Mercy</div>
		<div>• University of Michigan Ann Arbor</div>
		<div>• Eastern Michigan University</div>
		<div>• Wayne State University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M755.6,182.1l1.8-2.1l2.2-0.8l5.4-3.9l2.3-0.6l0.5,0.5l-5.1,5.1l-3.3,1.9l-2.1,0.9L755.6,182.1z    M841.8,214.2l0.6,2.5l3.2,0.2l1.3-1.2c0,0-0.1-1.5-0.4-1.6c-0.3-0.2-1.6-1.9-1.6-1.9l-2.2,0.2l-1.6,0.2l-0.3,1.1L841.8,214.2z    M871.9,277.2l-3.2-8.2l-2.3-9.1l-2.4-3.2l-2.6-1.8l-1.6,1.1l-3.9,1.8l-1.9,5l-2.7,3.7l-1.1,0.6l-1.5-0.6c0,0-2.6-1.5-2.4-2.1   c0.2-0.6,0.5-5,0.5-5l3.4-1.3l0.8-3.4l0.6-2.6l2.4-1.6l-0.3-10l-1.6-2.3l-1.3-0.8l-0.8-2.1l0.8-0.8l1.6,0.3l0.2-1.6L850,231   l-1.3-2.6h-2.6l-4.5-1.5l-5.5-3.4h-2.7l-0.6,0.6l-1-0.5l-3.1-2.3l-2.9,1.8l-2.9,2.3l0.3,3.6l1,0.3l2.1,0.5l0.5,0.8l-2.6,0.8   l-2.6,0.3l-1.5,1.8l-0.3,2.1l0.3,1.6l0.3,5.5l-3.6,2.1l-0.6-0.2v-4.2l1.3-2.4l0.6-2.4l-0.8-0.8l-1.9,0.8l-1,4.2l-2.7,1.1l-1.8,1.9   l-0.2,1l0.6,0.8l-0.6,2.6l-2.3,0.5v1.1l0.8,2.4l-1.1,6.1l-1.6,4l0.6,4.7l0.5,1.1l-0.8,2.4l-0.3,0.8l-0.3,2.7l3.6,6l2.9,6.5l1.5,4.8   l-0.8,4.7l-1,6l-2.4,5.2l-0.3,2.7l-3.3,3.1l4.4-0.2l21.4-2.3l7.3-1l0.1,1.7l6.9-1.2l10.3-1.5l3.9-0.5l0.1-0.6l0.2-1.5l2.1-3.7   l2-1.7l-0.2-5.1l1.6-1.6l1.1-0.3l0.2-3.6l1.5-3l1.1,0.6l0.2,0.6l0.8,0.2l1.9-1L871.9,277.2z M741.5,211.2l0.7-0.6l2.7-0.8l3.6-2.3   v-1l0.6-0.6l6-1l2.4-1.9l4.4-2.1l0.2-1.3l1.9-2.9l1.8-0.8l1.3-1.8l2.3-2.3l4.4-2.4l4.7-0.5l1.1,1.1l-0.3,1l-3.7,1l-1.5,3.1   l-2.3,0.8l-0.5,2.4l-2.4,3.2l-0.3,2.6l0.8,0.5l1-1.1l3.6-2.9l1.3,1.3h2.3l3.2,1l1.5,1.1l1.5,3.1l2.7,2.7l3.9-0.2l1.5-1l1.6,1.3   l1.6,0.5l1.3-0.8h1.1l1.6-1l4-3.6l3.4-1.1l6.6-0.3l4.5-1.9l2.6-1.3l1.5,0.2v5.7l0.5,0.3l2.9,0.8l1.9-0.5l6.1-1.6l1.1-1.1l1.5,0.5v7   l3.2,3.1l1.3,0.6l1.3,1l-1.3,0.3l-0.8-0.3l-3.7-0.5l-2.1,0.6l-2.3-0.2l-3.2,1.5h-1.8l-5.8-1.3l-5.2,0.2l-1.9,2.6l-7,0.6l-2.4,0.8   l-1.1,3.1l-1.3,1.1l-0.5-0.2l-1.5-1.6l-4.5,2.4h-0.6l-1.1-1.6l-0.8,0.2l-1.9,4.4l-1,4l-3.2,7l-1.2-1l-1.4-1l-1.9-10.3l-3.5-1.4   l-2.1-2.3l-12.1-2.7l-2.9-1l-8.2-2.2l-7.9-1.1L741.5,211.2z"/>
	
	<path id="WY" data-info="
	<div>
		<h3>Wyoming</h3>
		<h4>Total Available Campuses: <span>9</span></h4>
		<h4>Total Student Reach: <span>37.9k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Wyoming</div> 
		<div>• Laramie County Community College</div>
		<div>• Sheridan College</div>
		<div>• Casper College</div>
		<div>• Central Wyoming College</div>
		<div>• Eastern Wyoming College</div>
		<div>• Western Wyoming Community College</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M528.3,243.8l-10.5-0.8l-32.1-3.3l-16.2-2.1l-28.3-4.1l-19.9-3l-1.4,11.2l-3.8,24.3l-5.3,30.4   l-1.5,10.5l-1.7,11.9l6.5,0.9l25.9,2.5l20.6,2.3l36.8,4.1l23.8,2.9l4.5-44.2l1.4-25.4L528.3,243.8z"/>
	
	<path id="MT" data-info="
	<div>
		<h3>Montana</h3>
		<h4>Total Available Campuses: <span>19</span></h4>
		<h4>Total Student Reach: <span>44.3k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Montana State University</div> 
		<div>• University of Montana</div>
		<div>• Montana Tech of the University of Montana</div>
		<div>• Caroll College</div>
		<div>• Rocky Mountain College</div>
		<div>• University of Great Falls</div>
		<div>• The University of Montana-Western</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M530.7,222.3l0.6-11.2l2.3-24.8c0.5-5,1.1-8.5,1.4-15.4l0.9-14.6l-30.7-2.8L476,150l-29.3-4   l-32.3-5.3l-18.4-3.4l-32.7-6.9l-4.5,21.3l3.4,7.5l-1.4,4.6l1.8,4.6l3.2,1.4l4.6,10.8l2.7,3.2l0.5,1.1l3.4,1.1l0.5,2.1l-7.1,17.6   v2.5l2.5,3.2h0.9l4.8-3l0.7-1.1l1.6,0.7l-0.2,5.3l2.7,12.6l3,2.5l0.9,0.7l1.8,2.3l-0.5,3.4l0.7,3.4l1.1,0.9l2.3-2.3h2.7l3.2,1.6   l2.5-0.9h4.1l3.7,1.6l2.7-0.5l0.5-3l3-0.7l1.4,1.4l0.5,3.2l1.8,1.4l1.5-11.6l20.7,3l28.2,4l16.6,1.9l31.4,3.5l11,1.5l1.1-15.4   L530.7,222.3z"/>
	
	<path id="ID" data-info="
	<div>
		<h3>Idaho</h3>
		<h4>Total Available Campuses: <span>12</span></h4>
		<h4>Total Student Reach: <span>111k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Boise State University</div> 
		<div>• Idaho State University</div>
		<div>• University of Idaho</div>
		<div>• Brigham Young University Idaho</div>
		<div>• North Idaho College</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M336.1,281c-22.6-4.3-14.1-2.8-21.1-4.4l4.4-17.5l4.3-17.7l1.4-4.2l2.5-5.9l-1.3-2.3l-2.5,0.1   l-0.8-1l0.5-1.1l0.3-3.1l4.5-5.5l1.8-0.5l1.1-1.1l0.6-3.2l0.9-0.7l3.9-5.8l3.9-4.3l0.2-3.8l-3.4-2.6l-1.3-4.4l0.4-9.7l3.7-16.5   l4.5-20.8l3.8-13.5l0.8-3.8l13,2.5l-4.2,21.5l2.9,7.7l-1.1,4.6l2,4.6l3.2,1.7l4.5,9.8l2.7,3.8l0.6,1.1l3.4,1.1l0.5,2.5l-6.9,16.8   l0.3,3.3l2.7,2.9l1.9,0.5l4.8-3.6l0.4-0.5l0.2,0.8l0.3,4.1l2.6,12.9l3.5,2.7l0.4,0.8l2.1,2.4l-0.8,2.8l0.7,3.8l1.9,0.9l2.1-1.6   l2.6-0.5l3.4,1.6l2.5-0.6l3.8-0.2l4,1.6l2.7-0.3l0.9-2.3l2.5-1.6l0.7,1.7l0.6,2.2l2.3,2.5l-3.8,24l-5.1,29l-4.2-0.3l-8.2-1.5   l-9.8-1.8l-12.2-2.4l-12.5-2.5l-8.5-1.8l-9.3-1.7L336.1,281z"/>
	
	<path id="WA" data-info="
	<div>
		<h3>Washington</h3>
		<h4>Total Available Campuses: <span>56</span></h4>
		<h4>Total Student Reach: <span>328k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Gonzaga University</div> 
		<div>• Washington State University Pullman</div>
		<div>• Bellevue College</div>
		<div>• University of Washington Seattle</div>
		<div>• Western Washington University</div>
		<div>• Spokane Community College</div>
		<div>• Central Washington University</div>
		<div>• Whitman University</div>
		<div>• Walla Walla University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M267.6,106.4l4.4,1.5l9.7,2.7l8.6,1.9l20,5.7l23,5.7l15.2,3.4l-1,3.9l-4.1,13.8l-4.5,20.8   l-3.2,16.1l-0.4,9.4l-13.2-3.9l-15.6-3.4l-13.7,0.6l-1.6-1.5l-5.3,1.9l-4-0.3l-2.7-1.8l-1.6,0.5l-4.2-0.2l-1.9-1.4l-4.8-1.7   l-1.4-0.2l-5-1.3l-1.8,1.5l-5.7-0.3l-4.8-3.8l0.2-0.8l0.1-7.9l-2.1-3.9l-4.1-0.7l-0.4-2.4l-2.5-0.6l-2.9-0.5l-1.8,1l-2.3-2.9   l0.3-2.9l2.7-0.3l1.6-4l-2.6-1.1l0.2-3.7l4.4-0.6l-2.7-2.7l-1.5-7.1l0.6-2.9v-7.9l-1.8-3.2l2.3-9.4l2.1,0.5l2.4,2.9l2.7,2.6   l3.2,1.9l4.5,2.1l3.1,0.6l2.9,1.5l3.4,1l2.3-0.2v-2.4l1.3-1.1l2.1-1.3l0.3,1.1l0.3,1.8l-2.3,0.5l-0.3,2.1l1.8,1.5l1.1,2.4l0.6,1.9   l1.5-0.2l0.2-1.3l-1-1.3l-0.5-3.2l0.8-1.8l-0.6-1.5V119l1.8-3.6l-1.1-2.6l-2.4-4.8l0.3-0.8L267.6,106.4z M258.1,112.3l2-0.2   l0.5,1.4l1.5-1.6h2.3l0.8,1.5l-1.5,1.7l0.6,0.8l-0.7,2l-1.4,0.4c0,0-0.9,0.1-0.9-0.2s1.5-2.6,1.5-2.6l-1.7-0.6l-0.3,1.5l-0.7,0.6   l-1.5-2.3L258.1,112.3z"/>
	
	<path id="TX" data-info="
	<div>
		<h3>Texas</h3>
		<h4>Total Available Campuses: <span>125</span></h4>
		<h4>Total Student Reach: <span>1.3m</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Texas A&M University College Station</div> 
		<div>• University of Texas at Austin</div>
		<div>• University of Houston</div>
		<div>• Texas State University</div>
		<div>• University of North Texas</div>
		<div>• Concordia University Texas</div>
		<div>• University of Dallas</div>
		<div>• Texas Christian University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M531.1,433.4l22.7,1.1l31.1,1.1l-2.3,23.5l-0.3,18.2l0.1,2.1l4.3,3.8l1.7,0.8l1.8,0.3l0.7-1.3   l0.9,0.9l1.7,0.5l1.6-0.7l1.1,0.4l-0.3,3.4l4.3,1l2.7,0.8l4,0.5l2.2,1.8l3.2-1.6l2.8,0.4l2,2.8l1.1,0.3l-0.2,2l3.1,1.2l2.8-1.8   l1.5,0.4l2.4,0.2l0.4,1.9l4.6,2l2.7-0.2l2-4.1h0.3l1.1,1.9l4.4,1l3.3,1.2l3.3,0.8l2.1-0.8l0.8-2.5h3.7l1.9,0.8l3.1-1.6h0.7l0.4,1.1   h4.3l2.4-1.3l1.7,0.3l1.4,1.9l2.9,1.7l3.5,1.1l2.7,1.4l2.4,1.6l3.3-0.9l1.9,1l0.5,10.1l0.3,9.7l0.7,9.5l0.5,4l2.7,4.6l1.1,4.1   l3.9,6.3l0.5,2.9l0.5,1l-0.7,7.5l-2.7,4.4l1,2.9l-0.4,2.5l-0.8,7.3l-1.4,2.7l0.6,4.4l-5.7,1.6l-9.9,4.5l-1,1.9l-2.6,1.9l-2.1,1.5   l-1.3,0.8l-5.7,5.3l-2.7,2.1l-5.3,3.2l-5.7,2.4l-6.3,3.4l-1.8,1.5l-5.8,3.6l-3.4,0.6l-3.9,5.5l-4,0.3l-1,1.9l2.3,1.9l-1.5,5.5   l-1.3,4.5l-1.1,3.9l-0.8,4.5l0.8,2.4l1.8,7l1,6.1l1.8,2.7l-1,1.5l-3.1,1.9l-5.7-3.9l-5.5-1.1l-1.3,0.5l-3.2-0.6l-4.2-3.1l-5.2-1.1   l-7.6-3.4l-2.1-3.9l-1.3-6.5l-3.2-1.9l-0.6-2.3l0.6-0.6l0.3-3.4l-1.3-0.6l-0.6-1l1.3-4.4l-1.6-2.3l-3.2-1.3l-3.4-4.4l-3.6-6.6   l-4.2-2.6l0.2-1.9l-5.3-12.3l-0.8-4.2l-1.8-1.9l-0.2-1.5l-6-5.3l-2.6-3.1v-1.1l-2.6-2.1l-6.8-1.1l-7.4-0.6l-3.1-2.3l-4.5,1.8   l-3.6,1.5l-2.3,3.2l-1,3.7l-4.4,6.1l-2.4,2.4l-2.6-1l-1.8-1.1l-1.9-0.6l-3.9-2.3v-0.6l-1.8-1.9l-5.2-2.1l-7.4-7.8l-2.3-4.7v-8.1   l-3.2-6.5l-0.5-2.7l-1.6-1l-1.1-2.1l-5-2.1l-1.3-1.6l-7.1-7.9l-1.3-3.2l-4.7-2.3l-1.5-4.4l-2.6-2.9l-1.9-0.5l-0.6-4.7l8,0.7l29,2.7   l29,1.6l2.3-23.8l3.9-55.6l1.6-18.7l1.4,0 M631.2,667.3l-0.6-7.1l-2.7-7.2l-0.6-7l1.5-8.2l3.3-6.9l3.5-5.4l3.2-3.6l0.6,0.2   l-4.8,6.6l-4.4,6.5l-2,6.6l-0.3,5.2l0.9,6.1l2.6,7.2l0.5,5.2l0.2,1.5L631.2,667.3z"/>
	
	<path id="CA" data-info="
	<div>
		<h3>California</h3>
		<h4>Total Available Campuses: <span>181</span></h4>
		<h4>Total Student Reach: <span>2m</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of California Berkeley</div>
		<div>• University of Southern California</div>
		<div>• California Polytechnic State University</div> 
		<div>• California State University Fresno</div>
		<div>• California State University Long Beach</div>
		<div>• San Diego State University</div>
		<div>• University of San Francisco</div>
		<div>• Claremont McKenna College</div>
		<div>• California State University Fullerton</div>
		<div>• And more!</div>"

		 fill="#D3D3D3" d="M310.7,486.8l3.8-0.5l1.5-2l0.7-1.9l-3.2-0.1l-1.1-1.8l0.8-1.7l0-6.2l2.2-1.3l2.7-2.6l0.4-4.9   l1.6-3.5l1.9-2.1l3.3-1.7l1.3-0.7l0.8-1.5l-0.9-0.9l-1-1.5l-0.9-5.3l-2.9-5.2l0.1-2.8l-2.2-3.2l-15-23.2l-19.4-28.7l-22.4-33   l-12.7-19.5l1.8-7.2l6.8-25.9l8.1-31.4l-12.4-3.3l-13.5-3.4l-12.6-4.1l-7.5-2.1l-11.4-3l-7.1-2.4l-1.6,4.7l-0.2,7.4l-5.2,11.8   l-3.1,2.6l-0.3,1.1l-1.8,0.8l-1.5,4.2l-0.8,3.2l2.7,4.2l1.6,4.2l1.1,3.6l-0.3,6.5l-1.8,3.1l-0.6,5.8l-1,3.7l1.8,3.9l2.7,4.5   l2.3,4.8l1.3,4l-0.3,3.2l-0.3,0.5v2.1l5.7,6.3l-0.5,2.4l-0.6,2.3l-0.6,1.9l0.2,8.2l2.1,3.7l1.9,2.6l2.7,0.5l1,2.7l-1.1,3.6   l-2.1,1.6h-1.1l-0.8,3.9l0.5,2.9l3.2,4.4l1.6,5.3l1.5,4.7l1.3,3.1l3.4,5.8l1.5,2.6l0.5,2.9l1.6,1v2.4l-0.8,1.9l-1.8,7.1l-0.5,1.9   l2.4,2.7l4.2,0.5l4.5,1.8l3.9,2.1h2.9l2.9,3.1l2.6,4.8l1.1,2.3l3.9,2.1l4.8,0.8l1.5,2.1l0.6,3.2l-1.5,0.6l0.3,1l3.2,0.8l2.7,0.2   l2.9,4.7l3.9,4.2l0.8,2.3l2.6,4.2l0.3,3.2v9.4l0.5,1.8l10,1.5l19.7,2.7L310.7,486.8z M222.8,437l1.3,1.5l-0.2,1.3l-3.2-0.1   l-0.6-1.2l-0.6-1.5L222.8,437z M224.7,437l1.2-0.6l3.6,2.1l3.1,1.2l-0.9,0.6l-4.5-0.2l-1.6-1.6L224.7,437z M245.4,456.8l1.8,2.3   l0.8,1l1.5,0.6l0.6-1.5l-1-1.8l-2.7-2l-1.1,0.2V456.8z M244,465.5l1.8,3.2l1.2,1.9l-1.5,0.2l-1.3-1.2c0,0-0.7-1.5-0.7-1.9   s0-2.2,0-2.2L244,465.5z"/>
	
	<path id="AZ" data-info="
	<div>
		<h3>Arizona</h3>
		<h4>Total Available Campuses: <span>23</span></h4>
		<h4>Total Student Reach: <span>284k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Arizona</div> 
		<div>• Arizona State University</div>
		<div>• Northern Arizona University</div>
		<div>• Pima Community College</div>
		<div>• Arizona State University-West</div>
		<div>• Mesa Community College</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M311.7,487.5l-2.6,2.2l-0.3,1.5l0.5,1l18.9,10.7l12.1,7.6l14.7,8.6l16.8,10l12.3,2.4l25.1,2.7   l2.5-12.5l3.8-27.2l7-52.9l4.3-31l-24.6-3.7l-27.2-4.6l-33.4-6.3l-2.9,18.1l-0.5,0.5l-1.7,2.6l-2.5-0.1l-1.3-2.7l-2.7-0.3l-0.9-1.1   h-0.9l-0.9,0.6l-1.9,1l-0.1,7l-0.2,1.7l-0.6,12.6l-1.5,2.2l-0.6,3.3l2.7,4.9l1.3,5.8l0.8,1l1,0.6l-0.1,2.3l-1.6,1.4l-3.4,1.7   l-1.9,1.9l-1.5,3.7l-0.6,4.9l-2.9,2.7l-2.1,0.7l-0.1,5.8l-0.5,1.7l0.5,0.8l3.7,0.6l-0.6,2.7l-1.5,2.2L311.7,487.5z"/>
	
	<path id="NV" data-info="
	<div>
		<h3>Nevada</h3>
		<h4>Total Available Campuses: <span>9</span></h4>
		<h4>Total Student Reach: <span>107k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Nevada Reno</div> 
		<div>• University of Nevada Las Vegas</div>
		<div>• Sierra Nevada College</div>
		<div>• Nevada State College</div>
		<div>• College of Southern Nevada</div>
		<div>• Western Nevada College</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M314.7,277.6l21,4.5l9.7,1.9l9.3,1.8l6.6,1.6l-0.6,5.9l-3.5,17.3l-4.1,20l-1.9,9.7l-2.2,13.3   l-3.2,16.4l-3.5,15.7l-2,10.2l-2.5,16.8l-0.5,1.1l-1.1,2.5l-1.9-0.1l-1.1-2.7l-2.7-0.5l-1.4-1l-2,0.3l-0.9,0.7l-1.3,1.3l-0.4,7   l-0.5,1.7l-0.4,12.1l-1.3,1.7l-1.9-2.3l-14.5-22.7l-19.4-29L263.6,349l-12.4-18.6l1.6-6.6l7-25.9l7.9-31.3l33.6,8.1l13.7,3"/>
	
	<path id="UT" data-info="
	<div>
		<h3>Utah</h3>
		<h4>Total Available Campuses: <span>10</span></h4>
		<h4>Total Student Reach: <span>223k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Brigham Young University</div> 
		<div>• University of Utah</div>
		<div>• Salt Lake Community College</div>
		<div>• Utah State University</div>
		<div>• Southern Utah University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M427,409.3l-24.6-3.5l-26.6-4.9l-33.8-6l1.6-9.2l3.2-15.2L350,354l2.2-13.6l1.9-8.9l3.8-20.5   l3.5-17.5l1.1-5.6l12.7,2.3l12,2.1l10.3,1.8l8.3,1.4l3.7,0.5l-1.5,10.6l-2.3,13.2l7.8,0.9l16.4,1.8l8.2,0.9l-2.1,22l-3.2,22.6   l-3.8,27.8l-1.7,11.1L427,409.3z"/>

	<path id="CO" data-info="
	<div>
		<h3>Colorado</h3>
		<h4>Total Available Campuses: <span>28</span></h4>
		<h4>Total Student Reach: <span>220k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Colorado Boulder</div> 
		<div>• Colorado State University</div>
		<div>• Colorado College</div>
		<div>• University of Colorado Colorado Springs</div>
		<div>• University of Colorado Denver</div>
		<div>• Colorado School of Mines</div>
		<div>• Metropolitan State University of Denver</div>
		<div>• US Air Force Academy</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M552.6,356.8l1.4-21.3l-32.1-3.1l-24.5-2.7l-37.3-4.1l-20.7-2.5l-2.6,22.2l-3.2,22.4l-3.8,28   l-1.5,11.1l-0.3,2.8l33.9,3.8l37.7,4.3l32,3.2l16.6,0.8"/>
	
	<path id="NM" data-info="
	<div>
		<h3>New Mexico</h3>
		<h4>Total Available Campuses: <span>19</span></h4>
		<h4>Total Student Reach: <span>104k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University Of New Mexico Albuquerque</div> 
		<div>• New Mexico State University Las Cruces</div>
		<div>• New Mexico Institute Of Mining And Technology</div>
		<div>• San Juan College</div>
		<div>• Western New Mexico University</div>
		<div>• Institute of American Indian Arts</div>
		<div>• St. John's College</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M456.7,531l-0.7-6.1l8.6,0.5l29.5,3.1l28.4,1.4l2-22.3l3.7-55.9l1.1-19.4l2,0.3l0-11.1l-32.2-2.4   l-36.9-4.4l-34.5-4.1l-4.2,30.8l-7,53.2l-3.8,26.9l-2,13.3l15.5,2l1.3-10l16.7,2.6L456.7,531z"/>
	
	<path id="OR" data-info="
	<div>
		<h3>Oregon</h3>
		<h4>Total Available Campuses: <span>29</span></h4>
		<h4>Total Student Reach: <span>163k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Oregon</div> 
		<div>• Oregon State University Corvallis</div>
		<div>• Portland State University</div>
		<div>• Western Oregon University</div>
		<div>• Oregon Institute of Technology</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M314.3,276.7l4.3-17.9l4.7-17.9l1.1-4.2l2.4-5.6l-0.6-1.2l-2.5,0l-1.3-1.7l0.5-1.5l0.5-3.2l4.5-5.5   l1.8-1.1l1.1-1.1l1.5-3.6l4-5.7l3.6-3.9l0.2-3.5l-3.3-2.5l-1.2-4.5l-13.2-3.7l-15.1-3.5l-15.4,0.1l-0.5-1.4l-5.5,2.1l-4.5-0.6   l-2.4-1.6l-1.3,0.7L273,184l-1.7-1.4l-5.3-2.1l-0.8,0.1l-4.3-1.5l-1.9,1.8l-6.2-0.3l-5.9-4.1l0.7-0.8l0.2-7.8l-2.3-3.9l-4.1-0.6   l-0.7-2.5l-2.4-0.5l-5.8,2.1l-2.3,6.5l-3.2,10l-3.2,6.5l-5,14.1l-6.5,13.6l-8.1,12.6l-1.9,2.9l-0.8,8.6l-1.3,6l2.7,3.5l6.7,2.3   l11.6,3.3l7.9,2.5l12.4,3.6l13.3,3.6l13.2,3.6"/>
	
	<path id="ND" data-info="
	<div>
		<h3>North Dakota</h3>
		<h4>Total Available Campuses: <span>18</span></h4>
		<h4>Total Student Reach: <span>51.3k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University Of North Dakota</div> 
		<div>• North Dakota State University</div>
		<div>• Dickinson State University</div>
		<div>• Bismarck State College</div>
		<div>• Minot State University</div>
		<div>• University of Mary</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M645.3,227.7l-0.4-7.5l-2-7.3l-1.8-13.6l-0.5-9.8l-2-3.1l-1.6-5.4v-10.3l0.7-3.9l-2.1-5.5   l-28.4-0.6l-18.6-0.6l-26.5-1.3l-24.9-1.9l-1.3,14.2l-1.4,15.1l-2.3,24.9l-0.5,11l56.8,3.8L645.3,227.7z"/>
	
	<path id="SD" data-info="
	<div>
		<h3>South Dakota</h3>
		<h4>Total Available Campuses: <span>12</span></h4>
		<h4>Total Student Reach: <span>41.8k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• South Dakota State University</div> 
		<div>• University of South Dakota</div>
		<div>• Black Hills State University</div>
		<div>• Dakota State University</div>
		<div>• Northern State University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M646.8,303.2l-1-1.1l-1.5-3.6l1.8-3.7l1.1-5.6l-2.6-2.1l-0.3-2.7l0.6-3l2.2-0.8l0.3-5.7l-0.1-30.1   l-0.6-3l-4.1-3.6l-1-2v-1.9l1.9-1.3l1.5-1.9l0.2-2.7l-57.4-1.6l-56.2-3.9l-0.8,5.3l-1.6,15.9l-1.3,17.9l-1.6,24.6l16,1l19.6,1.1   l18,1.3l23.8,1.3l10.7-0.8l2.9,2.3l4.3,3l1,0.8l3.5-0.9l4-0.3l2.7-0.1l3.1,1.2l4.5,1.4l3.1,1.8l0.6,1.9l0.9,1.9l0.7-0.5   L646.8,303.2z"/>
	
	<path id="NE" data-info="
	<div>
		<h3>Nebraska</h3>
		<h4>Total Available Campuses: <span>24</span></h4>
		<h4>Total Student Reach: <span>101k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Nebraska Lincoln</div> 
		<div>• University of Nebraska at Omaha</div>
		<div>• University of Nebraska at Kearney</div>
		<div>• Wayne State College</div>
		<div>• Creighton University</div>
		<div>• Nebraska Wesleyan University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M658.2,347l1.4,2.7l0.1,2.1l2.4,3.7l2.7,3.2h-5l-43.5-0.9l-40.8-0.9l-21.2-1l1.1-21.3l-33.4-2.7   l4.3-44l15.5,1L562,290l17.8,1.1l23.8,1.1l10.7-0.5l2.1,2.3l4.8,3l1.1,0.9l4.3-1.4l3.9-0.5l2.7-0.2l1.8,1.4l5,1.6l3,1.6l0.5,1.6   l0.9,2.1h1.8l0.8,0l1,5.2l2.7,8l1.2,4.6l2.1,3.8l0.5,4.9l1.4,4.3l0.5,6.5"/>
	
	<path id="IA" data-info="
	<div>
		<h3>Iowa</h3>
		<h4>Total Available Campuses: <span>44</span></h4>
		<h4>Total Student Reach: <span>241k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Iowa State University</div> 
		<div>• University of Iowa</div>
		<div>• University of Northern Iowa</div>
		<div>• Ashford University</div>
		<div>• Iowa Central Community College</div>
		<div>• Drake University</div>
		<div>• Western Iowa Tech Community College</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M740.6,301.6l0.2,1.9l2.3,1.1l1.1,1.3l0.3,1.3l3.9,3.2l0.7,2.2l-0.8,2.9l-1.5,3.5l-0.8,2.7   l-2.2,1.6l-1.7,0.6l-5.5,1.5l-0.7,2.3l-0.8,2.3l0.6,1.4l1.7,1.7l0,3.7l-2.2,1.6l-0.5,1.5v2.5l-1.5,0.5l-1.7,1.4l-0.5,1.5l0.5,1.7   l-1.4,1.2l-2.3-2.7l-1.5-2.6l-8.3,0.8l-10.2,0.6l-25,0.7l-13,0.2l-9.4,0.2l-1.3,0.1l-1.7-4.5l-0.2-6.6l-1.6-4.1l-0.7-5.3l-2.3-3.7   l-0.9-4.8l-2.7-7.5l-1.1-5.4l-1.4-2.2l-1.6-2.7l1.8-4.3l1.4-5.7l-2.7-2.1l-0.5-2.7l0.9-2.5h1.7h11.5l49.6-0.7l19.9-0.7l1.9,2.7   l1.8,2.6l0.5,0.8l-1.8,2.7l0.5,4.2l2.5,3.9l3,1.8l2.4,0.2L740.6,301.6z"/>
	
	<path id="MS" data-info="
	<div>
		<h3>Mississippi</h3>
		<h4>Total Available Campuses: <span>29</span></h4>
		<h4>Total Student Reach: <span>162k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Mississippi State University</div> 
		<div>• University of Mississippi</div>
		<div>• The University of Southern Mississippi</div>
		<div>• East Central Community College</div>
		<div>• Mississippi College</div>
		<div>• Holmes Community College</div>
		<div>• Jackson State University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M798.6,567l-0.3,1.3h-5.2l-1.5-0.8l-2.1-0.3l-6.8,1.9l-1.8-0.8l-2.6,4.2l-1.1,0.8l-1.1-2.5   l-1.1-3.9l-3.4-3.2l1.1-7.5l-0.7-0.9l-1.8,0.2l-8.2,0.7l-24.2,0.7l-0.5-1.6l0.7-8l3.4-6.2l5.3-9.1l-0.9-2.1h1.1l0.7-3.2l-2.3-1.8   l0.2-1.8l-2.1-4.6l-0.3-5.3l1.4-2.7l-0.4-4.3l-1.4-3l1.4-1.4l-1.4-2.1l0.5-1.8l0.9-6.2l3-2.7l-0.7-2.1l3.7-5.3l2.7-0.9v-2.5   l-0.7-1.4l2.7-5.3l2.7-1.1l0.1-3.4l8.7-0.1l24.1-1.9l4.6-0.2l0,6.4l0.2,16.7l-0.8,31l-0.2,14.1l2.7,18.8L798.6,567z"/>
	
	<path id="IN" data-info="
	<div>
		<h3>Indiana</h3>
		<h4>Total Available Campuses: <span>40</span></h4>
		<h4>Total Student Reach: <span>313k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Indiana State University</div> 
		<div>• Indiana University South Bend</div>
		<div>• Indiana University Bloomington</div>
		<div>• University of Southern Indiana</div>
		<div>• Anderson University</div>
		<div>• University of Indianapolis</div>
		<div>• Indiana University East</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M792.4,400.9l0.1-2.9l0.5-4.5l2.3-2.9l1.8-3.9l2.6-4.2l-0.5-5.8l-1.8-2.7l-0.3-3.2l0.8-5.5l-0.5-7   l-1.3-16l-1.3-15.4l-1-11.7l3.1,0.9l1.5,1l1.1-0.3l2.1-1.9l2.8-1.6l5.1-0.2l22-2.3l5.6-0.5l1.5,16l4.3,36.8l0.6,5.8L843,371   l1.2,1.8l0.1,1.4l-2.5,1.6l-3.5,1.6l-3.2,0.6l-0.6,4.9l-4.6,3.3l-2.8,4l0.3,2.4l-0.6,1.5h-3.3l-1.6-1.6l-2.5,1.3l-2.7,1.5l0.2,3.1   l-1.2,0.3l-0.5-1l-2.2-1.5l-3.3,1.3l-1.6,3l-1.4-0.8l-1.5-1.6l-4.5,0.5l-5.6,1L792.4,400.9z"/>
	
	<path id="IL" data-info="
	<div>
		<h3>Illinois</h3>
		<h4>Total Available Campuses: <span>109</span></h4>
		<h4>Total Student Reach: <span>681k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Illinois State University</div> 
		<div>• University of Illinois at Urbana-Champaign</div>
		<div>• Parkland College</div>
		<div>• University of Illinois at Springfield</div>
		<div>• Concordia University Chicago</div>
		<div>• St. Xavier University</div>
		<div>• Loyola University Chicago</div>
		<div>• University of Illinois at Chicago</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M791.8,401.6V398l0.3-4.9l2.4-3.1l1.8-3.8l2.6-3.9l-0.4-5.3l-2-3.5l-0.1-3.3l0.7-5.3l-0.8-7.2   l-1.1-15.8l-1.3-15l-0.9-11.6l-0.3-0.9l-0.8-2.6l-1.3-3.7l-1.6-1.8l-1.5-2.6l-0.2-5.5l-9.9,1.3l-27.2,1.7l-8.7-0.4l0.2,2.4l2.3,0.7   l0.9,1.1l0.5,1.8l3.9,3.4l0.7,2.3l-0.7,3.4l-1.8,3.7l-0.7,2.5l-2.3,1.8l-1.8,0.7l-5.3,1.4l-0.7,1.8L736,330l0.7,1.4l1.8,1.6   l-0.2,4.1l-1.8,1.6l-0.7,1.6v2.7l-1.8,0.5l-1.6,1.1l-0.2,1.4l0.2,2.1l-1.7,1.3l-1,2.8l0.5,3.7l2.3,7.3l7.3,7.5l5.5,3.7l-0.2,4.3   l0.9,1.4l6.4,0.5l2.7,1.4l-0.7,3.7l-2.3,5.9l-0.7,3.2l2.3,3.9l6.4,5.3l4.6,0.7l2.1,5l2.1,3.2l-0.9,3l1.6,4.1l1.8,2.1l1.9-0.8   l0.7-2.2l2-1.4l3.2-1.1l3.1,1.2l2.9,1.1l0.8-0.2l-0.1-1.2l-1.1-2.8l0.4-2.4l2.3-1.6l2.4-1l1.2-0.4l-0.6-1.3l-0.8-2.2l1.2-1.3   L791.8,401.6z"/>
	
	<path id="MN" data-info="
	<div>
		<h3>Minnesota</h3>
		<h4>Total Available Campuses: <span>48</span></h4>
		<h4>Total Student Reach: <span>232k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Minnesota</div> 
		<div>• University of Northwestern</div>
		<div>• Concordia University St. Paul</div>
		<div>• Minneapolis Community and Technical College</div>
		<div>• St. Olaf College</div>
		<div>• Carleton College</div>
		<div>• Macalester College</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M645.9,228.5l-0.5-8.5l-1.8-7.3l-1.8-13.5l-0.5-9.8l-1.8-3.4l-1.6-5v-10.3l0.7-3.9l-1.8-5.5l30.1,0   l0.3-8.2l0.6-0.2l2.3,0.5l1.9,0.8l0.8,5.5l1.5,6.1l1.6,1.6h4.8l0.3,1.5l6.3,0.3v2.1h4.8l0.3-1.3l1.1-1.1l2.3-0.6l1.3,1h2.9l3.9,2.6   l5.3,2.4l2.4,0.5l0.5-1l1.5-0.5l0.5,2.9l2.6,1.3l0.5-0.5l1.3,0.2v2.1l2.6,1h3.1l1.6-0.8l3.2-3.2l2.6-0.5l0.8,1.8l0.5,1.3h1l1-0.8   l8.9-0.3l1.8,3.1h0.6l0.7-1.1l4.4-0.4l-0.6,2.3l-3.9,1.8l-9.2,4.1l-4.8,2l-3.1,2.6l-2.4,3.6l-2.3,3.9l-1.8,0.8l-4.5,5l-1.3,0.2   l-3.8,2.9l-2.8,3.2l-0.2,3l0.2,7.8l-1.6,1.6L704,228l-1.8,5.7l2.5,3.6l0.5,2.5l-1.1,3l-0.2,3.7l0.5,7.1l3.4,4.1h3l2.5,2.3l3.2,1.4   l3.7,5l7.1,5l1.8,2.1l0.2,5.5l-20.6,0.7l-60.2,0.5l-0.3-35.7l-0.5-3l-4.1-3.4l-1.1-1.8v-1.6l2.1-1.6l1.4-1.4L645.9,228.5z"/>
	
	<path id="WI" data-info="
	<div>
		<h3>Wisconson</h3>
		<h4>Total Available Campuses: <span>41</span></h4>
		<h4>Total Student Reach: <span>253k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Wisconsin Madison</div> 
		<div>• University of Wisconsin Stout</div>
		<div>• Milwaukee Area Technical College</div>
		<div>• University of Wisconsin Green Bay</div>
		<div>• University of Wisconsin Parkside</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M786.9,297.2l0.4-3l-1.6-4.5l-0.6-6.1l-1.1-2.4l1-3.1l0.8-2.9l1.5-2.6l-0.6-3.4l-0.6-3.6l0.5-1.8   l1.9-2.4l0.2-2.7l-0.8-1.3l0.6-2.6l0.5-3.2l2.7-5.7l2.9-6.8l0.2-2.3l-0.3-1l-0.8,0.5l-4.2,6.3l-2.7,4l-1.9,1.8l-0.8,2.3l-1.5,0.8   l-1.1,1.9l-1.5-0.3l-0.2-1.8l1.3-2.4l2.1-4.7l1.8-1.6l1.1-2.3l-1.6-0.9l-1.4-1.4l-1.6-10.3l-3.7-1.1l-1.4-2.3l-12.6-2.7l-2.5-1.1   l-8.2-2.3l-8.2-1.1l-4.2-5.4l-0.5,1.3l-1.1-0.2l-0.6-1.1l-2.7-0.8l-1.1,0.2l-1.8,1l-1-0.6l0.6-1.9l1.9-3.1l1.1-1.1l-1.9-1.5   l-2.1,0.8l-2.9,1.9l-7.4,3.2l-2.9,0.6l-2.9-0.5l-1-0.9l-2.1,2.8l-0.2,2.7v8.5l-1.1,1.6l-5.3,3.9l-2.3,5.9l0.5,0.2l2.5,2.1l0.7,3.2   l-1.8,3.2v3.9l0.5,6.6l3,3h3.4l1.8,3.2l3.4,0.5l3.9,5.7l7.1,4.1l2.1,2.7l0.9,7.4l0.7,3.3l2.3,1.6l0.2,1.4l-2.1,3.4l0.2,3.2l2.5,3.9   l2.5,1.1l3,0.5l1.3,1.4l9.2,0l26.1-1.5L786.9,297.2z"/>
	
	<path id="MO" data-info="
	<div>
		<h3>Missouri</h3>
		<h4>Total Available Campuses: <span>58</span></h4>
		<h4>Total Student Reach: <span>347k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Missouri Columbia</div> 
		<div>• Missouri State University</div>
		<div>• Missouri Southern State University</div>
		<div>• College of the Ozarks</div>
		<div>• Ozarks Technical Community College</div>
		<div>• Truman State University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M729.8,349.5l-2.5-3.1l-1.1-2.3l-7.8,0.7l-9.8,0.5l-25.4,0.9l-13.5,0.2l-7.9,0.1l-2.3,0.1l1.3,2.5   l-0.2,2.3l2.5,3.9l3.1,4.1l3.1,2.7l2.3,0.2l1.4,0.9v3l-1.8,1.6l-0.5,2.3l2.1,3.4l2.5,3l2.5,1.8l1.4,11.7l-0.7,35.3l0.2,4.7l0.5,5.4   l23.4-0.1l23.2-0.7l20.8-0.8l11.7-0.2l2.2,3.4l-0.7,3.3l-3.1,2.4l-0.6,1.8l5.4,0.5l3.9-0.7l1.7-5.5l0.7-5.9l2.3-2l1.7-1.5l2.1-1   l0.1-2.9l0.6-1.7l-1-1.7l-2.7,0.1l-2.2-2.6l-1.4-4.2l0.8-2.5l-1.9-3.4l-1.8-4.6l-4.8-0.8l-7-5.6l-1.7-4.1l0.8-3.2l2.1-6.1l0.5-2.9   l-1.9-1l-6.9-0.8l-1-1.7l-0.1-4.2l-5.5-3.4l-7-7.8l-2.3-7.3l-0.2-4.2L729.8,349.5z"/>
	
	<path id="AR" data-info="
	<div>
		<h3>Arkansas</h3>
		<h4>Total Available Campuses: <span>33</span></h4>
		<h4>Total Student Reach: <span>135k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Arkansas State University</div> 
		<div>• Arkansas Technical University</div>
		<div>• John Brown University</div>
		<div>• Henderson State University</div>
		<div>• Central Baptist College</div>
		<div>• Harding University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M765,445l-3.8,0.9l-6.2-0.5l0.7-3l3.2-2.7l0.5-2.3l-1.8-3l-11,0.5l-20.8,0.9l-23.3,0.7L679,437   l1.6,6.9v8.2l1.4,11l0.2,37.8l2.3,1.9l3-1.4l2.7,1.1l0.4,10.3l22.9-0.1l18.9-0.8l10.1-0.2l1.1-2.1l-0.3-3.5l-1.8-3l1.6-1.5   l-1.6-2.5l0.7-2.5l1.4-5.6l2.5-2.1l-0.7-2.3l3.7-5.4l2.7-1.4l-0.1-1.5l-0.3-1.8l2.9-5.6l2.4-1.3l0.4-3.4l1.8-1.2l0.9-4.2l-1.3-4   l4-2.4l0.6-2l1.2-4.3L765,445z"/>
	
	<path id="OK" data-info="
	<div>
		<h3>Oklahoma</h3>
		<h4>Total Available Campuses: <span>38</span></h4>
		<h4>Total Student Reach: <span>191k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Oklahoma</div> 
		<div>• Oklahoma State University</div>
		<div>• Oklahoma City University</div>
		<div>• Oklahoma State University-Oklahoma City</div>
		<div>• Northern Oklahoma College</div>
		<div>• University of Central Oklahoma</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M549.3,422.6l-10.7-0.5l-6.4-0.5l0.3,0.2l-0.7,10.4l22,1.4l32.1,1.3l-2.3,24.4l-0.5,17.8l0.2,1.6   l4.3,3.7l2.1,1.1l0.7-0.2l0.7-2.1l1.4,1.8h2.1v-1.4l2.7,1.4l-0.5,3.9l4.1,0.2l2.5,1.1l4.1,0.7l2.5,1.8l2.3-2.1l3.4,0.7l2.5,3.4h0.9   v2.3l2.3,0.7l2.3-2.3l1.8,0.7h2.5l0.9,2.5l4.8,1.8l1.4-0.7l1.8-4.1h1.1l1.1,2.1l4.1,0.7l3.7,1.4l3,0.9l1.8-0.9l0.7-2.5h4.3l2.1,0.9   l2.7-2.1h1.1l0.7,1.6h4.1l1.6-2.1l1.8,0.5l2.1,2.5l3.2,1.8l3.2,0.9l1.9,1.1l-0.4-37.2l-1.4-11l-0.2-8.9l-1.4-6.5l-0.8-7.2l-0.1-3.8   l-12.1,0.3l-46.4-0.5l-45-2.1L549.3,422.6z"/>
	
	<path id="KS" data-info="
	<div>
		<h3>Kansas</h3>
		<h4>Total Available Campuses: <span>47</span></h4>
		<h4>Total Student Reach: <span>188k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Kansas</div> 
		<div>• Kansas State University</div>
		<div>• Pittsburg State University</div>
		<div>• University of Missouri Kansas City</div>
		<div>• Washburn University</div>
		<div>• Newman University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M677.4,425.1l-12.6,0.2l-46.1-0.5l-44.6-2.1l-24.6-1.3l4.1-64.7l21.8,0.8l40.5,1.4l44.1,0.5h5.1   l3.2,3.2l2.8,0.2l0.9,1.1v2l-1.8,1.6l-0.5,2.6l2.2,3.6l2.5,3.1l2.5,2l1.1,11.2L677.4,425.1z"/>
	
	<path id="LA" data-info="
	<div>
		<h3>Louisiana</h3>
		<h4>Total Available Campuses: <span>34</span></h4>
		<h4>Total Student Reach: <span>216k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• University of Louisiana at Lafayette</div> 
		<div>• Louisiana State University</div>
		<div>• Tulane University</div>
		<div>• Louisiana Tech University</div>
		<div>• University of New Orleans</div>
		<div>• Loyola University New Orleans</div>
		<div>• Centenary College of Louisiana</div>
		<div>• Dillard University</div>
		<div>• And more!</div>" 

		 fill="#D3D3D3" d="M776.2,573l-1-2.6l-1.1-3.1l-3.3-3.5l0.9-6.8l-0.1-1.1l-1.3,0.3l-8.2,0.9l-25,0.5l-0.7-2.4l0.9-8.5   l3.3-5.9l5-8.7l-0.6-2.4l1.3-0.7l0.5-2l-2.3-2.1l-0.1-1.9l-1.8-4.3l-0.5-5.9l-9.7,0.1l-19.2,0.9l-22.2,0l0,9.6l0.7,9.4l0.7,3.9   l2.5,4.1l0.9,5l4.3,5.5l0.2,3.2l0.7,0.7l-0.7,8.5l-3,5l1.6,2.1l-0.7,2.5l-0.7,7.3l-1.4,3.2l0.1,3.6l4.7-1.5l8.1-0.3l10.3,3.6   l6.5,1.1l3.7-1.5l3.2,1.1l3.2,1l0.8-2.1l-3.2-1.1l-2.6,0.5l-2.7-1.6c0,0,0.2-1.3,0.8-1.5c0.6-0.2,3.1-1,3.1-1l1.8,1.5l1.8-1   l3.2,0.6l1.5,2.4l0.3,2.3l4.5,0.3l1.8,1.8l-0.8,1.6l-1.3,0.8l1.6,1.6l8.4,3.6l3.6-1.3l1-2.4l2.6-0.6l1.8-1.5l1.3,1l0.8,2.9   l-2.3,0.8l0.6,0.6l3.4-1.3l2.3-3.4l0.8-0.5l-2.1-0.3l0.8-1.6l-0.2-1.5l2.1-0.5l1.1-1.3l0.6,0.8c0,0-0.2,3.1,0.6,3.1   c0.8,0,4.2,0.6,4.2,0.6l4,1.9l1,1.5h2.9l1.1,1l2.3-3.1v-1.5h-1.3l-3.4-2.7l-5.8-0.8l-3.2-2.3l1.1-2.7l2.3,0.3l0.2-0.6l-1.8-1v-0.5   h3.2l1.8-3.1l-1.3-1.9l-0.3-2.7l-1.5,0.2l-1.9,2.1l-0.6,2.6l-3.1-0.6l-1-1.8l1.8-1.9l2-1.8L776.2,573z"/>
	
	<path id="VA" data-info="
	<div>
		<h3>Virginia</h3>
		<h4>Total Available Campuses: <span>47</span></h4>
		<h4>Total Student Reach: <span>396k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Liberty University</div> 
		<div>• George Mason University</div>
		<div>• University of Virginia</div>
		<div>• College of William and Mary</div>
		<div>• Roanoke College</div>
		<div>• Virginia Polytechnic Institute and State University</div>
		<div>• Virginia Commonwealth University</div>
		<div>• James Madison University</div>
		<div>• Radford University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" d="M1002.9,369.2l-0.1-1.9l6.5-2.5l-0.8,3.2l-2.9,3.8l-0.4,4.6l0.5,3.4l-1.8,5l-2.2,1.9l-1.5-4.6   l0.4-5.4l1.6-4.2L1002.9,369.2z M1005.2,397.5L947,410.1l-37.4,5.3l-6.7-0.4l-2.6,1.9l-7.3,0.2l-8.4,1l-8.9,1l8.5-4.9l0-2.1   l1.5-2.1l10.6-11.5l3.9,4.5l3.8,1l2.5-1.1l2.2-1.3l2.5,1.3l3.9-1.4l1.9-4.6l2.6,0.5l2.9-2.1l1.8,0.5l2.8-3.7l0.3-2.1l-1-1.3l1-1.9   l5.3-12.3l0.6-5.7l1.2-0.5l2.2,2.4l3.9-0.3l1.9-7.6l2.8-0.6l1-2.7l2.6-2.3l1.3-2.3l1.5-3.4l0.1-5.1l9.8,3.8   c0.7,0.3,0.7-4.8,0.7-4.8l4.1,1.4l-0.5,2.6l8.2,2.9l1.3,1.8l-0.9,3.7l-1.3,1.3l-0.5,1.7l0.5,2.4l2,1.3l3.9,1.4l2.9,1l4.9,0.9   l2.2,2.1l3.2,0.4l0.9,1.2l-0.4,4.7l1.4,1.1l-0.5,1.9l1.2,0.8l-0.2,1.4l-2.7-0.1l0.1,1.6l2.3,1.5l0.1,1.4l1.8,1.8l0.5,2.5l-2.6,1.4   l1.6,1.5l5.8-1.7L1005.2,397.5z"/>
	
	<g id="DC">
		<path id="path58" fill="#D3D3D3" d="M975.8,353.8l-1.1-1.6l-1-0.8l1.1-1.6l2.2,1.5L975.8,353.8z"/>
		<circle id="circle60" data-info="
	<div>
		<h3>Washington DC</h3>
		<h4>Total Available Campuses: <span>11</span></h4>
		<h4>Total Student Reach: <span>83.4k</span></h4>
	</div>
	<div>Advertise on campuses like:</div>
		<div>• Georgetown University</div> 
		<div>• Howard University</div>
		<div>• American University</div>
		<div>• University of the District of Columbia</div>
		<div>• Trinity Washington University</div>
		<div>• Gallaudet University</div>
		<div>• George Washington University</div>
		<div>• And more!</div>" 

		fill="#D3D3D3" stroke="#FFFFFF" stroke-width="1.5" cx="975.3" cy="351.8" r="5"/>
	</g>





</g>

</svg>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>


<style>
#us-map{
  display: block;
  width: 64.5%;
  border-right: 1px solid #ececec;
}
path:hover, circle:hover {
  stroke-linejoin: round;
  fill: #5faee1 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
.info {
  width:33.333%;
  display: block;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  height:100%;
  font-family: Source Sans Pro;
  float:right;
  font-size:14px;
  color:#717177;
}

.info h3{
	font-weight:bold;
	margin-bottom:0px;
	margin-top:0px;
	font-size:18px;
	color:#333;
}

.info h4{
	font-weight: normal;
	font-size:14px;
	margin-top: 0px;
	color:#333;
	margin-bottom: -5px;
}

.info h4 span{
	font-weight: bold;
	color:#5faee1;
	font-style:normal;
}
	
.info h4:nth-child(3){
	margin-bottom:15px;	
}
	
.info div:nth-child(2){
	margin-bottom:5px;
	font-weight: 700;
}

#empty-state{
	text-align: center;
}

#info-box {
	display:none;
}

#empty-state h3{
	color:#717177;
}

#empty-state p{
	margin-top: 0px;
}

</style>

<script type = "text/javascript">


$("path, circle").hover(function(e) {
  $('#info-box').css('display','block');
  $('#empty-state').css('display','none');
  $('#info-box').html($(this).data('info'));
});
$("path, circle").mouseleave(function(e) {
  $('#info-box').css('display','none');
  $('#empty-state').css('display','block');
});
$(document).mousemove(function(e) {
  $('#info-box').css('top',e.pageY-$('#info-box').height()-30);
  $('#info-box').css('left',e.pageX-($('#info-box').width())/2);
}).mouseover();

</script>

